footer {
    background: #9bacbe;
    padding: 13px 0;
    p {
        font-size: 14px;
        font-family: 'Montserrat';
        margin: 0;
        &.white {
            color: #FFF;
        }
        &.right {
            text-align: right;
            font-weight: 300;
        }
        span {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 639px) {
    footer {
        padding: 0;
        .columns {
            padding: 0;
        }
        p {
            &.white {
                background: #FFF;
                text-align: center;
                padding: 15px 0;
                color: #2a4064;
            }
            &.right {
                background: #000;
                color: #FFF;
                text-align: center;
                span {
                    font-weight: 400;
                }
            }
        }
    }
}
