@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600|Montserrat:300,400,500');

* {
    font-family: 'Dosis';
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 20px;
    &:focus {
        outline: none;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Dosis';
    font-weight: 300;
}

body {
    .button {
        background: none;
        border: 1px solid #FFF;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 16px;
        color: #FFF;
        text-transform: uppercase;
        font-family: 'Montserrat';
        &:hover, &:focus {
            background: none;
        }
    }
}

.banner {
    height: 100%;
    background: image-url('background.png');
    background-size: cover;
    background-position: bottom right;
    color: #FFF;
    position: relative;
    .row {
        position: relative;
        z-index: 2;
        height: 100%;
        .columns {
            height: 90%;
        }
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(26, 60, 100, 0.6);
    }
    .name {
        font-size: 24px;
        font-weight: 600;
        margin: 30px 0;
    }
    .block {
        position: relative;
        top: 10%;
        h1 {
            margin-bottom: 25px;
            font-size: 60px;
            span {
                font-size: 60px;
                font-weight: 300;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: #FFF;
                }
            }
        }
        p {
            font-size: 22px;
        }
    }
    .button {
        position: relative;
        top: 50px;
    }
    .nav {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

.text_block {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        background: image-url('back_left.png') repeat-y;
        opacity: 0.5;
        z-index: -1;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 400px;
        height: 400px;
        background: image-url('back_right.png') no-repeat;
        background-size: cover;
        opacity: 0.5;
        z-index: -1;
    }
    .button {
        border: 1px solid #23395f;
        margin: 40px 0 80px;
        background: #FFF;
        &:hover, &:focus {
            background: #FFF;
        }
        a {
            color: #435065;
            font-size: 16px;
        }
    }
    .main_article {
        border-bottom: 1px solid #888;
        .title {
            color: #666;
            font-size: 26px;
        }
        .date {
            color: #888;
            font-size: 14px;
        }
        .photo {
            margin: 20px 0 40px;
            img {
                width: 100%;
            }
        }
        .text {
            color: #888;
            font-family: 'Montserrat';
            &.bold {
                color: #23395f;
            }
        }
        &.about {
            border-bottom: none;
            h3 {
                margin: 50px 0 30px;
                color: #23395f;
                font-size: 26px;
                font-weight: 500;
            }
            .text {
                margin-bottom: 30px;
                font-size: 18px;
            }
            .date {
                margin: 50px 0 85px;
                text-align: right;
            }
        }
    }
    .other_articles {
        padding-top: 80px;
        .article {
            display: inline-block;
            width: 48%;
            margin-right: 4%;
            margin-bottom: 20px;
            &:nth-of-type(2n) {
                margin-right: 0;
            }
            .photo {
                img {
                    width: 100%;
                }
            }
            .title {
                color: #23395f;
                margin: 15px 0;
            }
            .text {
                color: #888;
                font-family: 'Montserrat';
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 300;
                height: 96px;
                overflow: hidden;
            }
            .date {
                color: #888;
                font-size: 14px;
            }
        }
        &.about {
            .article {
                width: 30%;
                margin-right: 5%;
                &:nth-of-type(2n) {
                    margin-right: 5%;
                }
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
            }
        }
    }
    .buttons {
        text-align: right;
        .button {
            margin-left: 25px;
        }
    }
    h2 {
        font-size: 26px;
        color: #666;
    }
    .right_block {
        padding: 0 30px;
        .block {
            margin-bottom: 80px;
        }
        .editors {
            .editor {
                margin-bottom: 10px;
                .image {
                    float: left;
                    img {
                        width: 64px;
                        border-radius: 50%;
                    }
                }
                .name {
                    padding-left: 74px;
                    line-height: 64px;
                    color: #AAA;
                }
            }
        }
        .media {
            img {
                margin-right: 10px;
                width: 25px;
                border-radius: 25px;
            }
        }
        .contacts {
            .half {
                float: left;
                width: 50%;
                p {
                    color: #AAA;
                    margin-bottom: 0;
                }
            }
        }
    }
    .about_block {
        border-top: 1px solid #888;
        padding-top: 20px;
    }
}

#uslugi {
    background: rgba(35, 65, 90, 0.9);
    color: #FFF;
    padding-top: 0;
    .name {
        font-size: 24px;
        font-weight: 600;
        margin: 30px 0;
    }
    .blocks {
        width: 640px;
        .block {
            display: inline-block;
            width: 300px;
            margin: 0 20px 20px 0;
            border: 1px solid #FFF;
            padding: 25px;
            p {
                margin: 0;
            }
        }
    }
    .close-button {
        span {
            color: #FFF;
            font-size: 40px;
        }
    }
}


@media (max-width: 639px) {
    .text_block {
        &:before, &:after {
            display: none;
        }
    }
}



