@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600|Montserrat:300,400,500');

* {
    font-family: 'Dosis';
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Dosis';
    font-weight: 300;
}

body {
    .button {
        background: none;
        padding: 10px 20px;
        border: 1px solid #FFF;
        border-radius: 10px;
        a {
            font-size: 16px;
            color: #FFF;
            text-transform: uppercase;
            font-family: 'Montserrat';
        }
        &:hover {
            background: none;
        }
    }
}

.banner {
    height: 100%;
    background: image-url('background.png');
    background-size: cover;
    background-position: bottom right;
    color: #FFF;
    position: relative;
    .row {
        position: relative;
        z-index: 2;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(26, 60, 100, 0.6);
    }
    .name {
        font-size: 24px;
        font-weight: 600;
        margin: 30px 0;
    }
    .block {
        h1 {
            margin-top: 200px;
            margin-bottom: 25px;
            font-size: 60px;
            span {
                font-size: 60px;
                font-weight: 300;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: #FFF;
                }
            }
        }
        p {
            font-size: 22px;
        }
    }
    .button {
        margin-top: 100px;
    }
}

.nav {
    background: #FFF;
    .name {
        color: #23395f;
        font-size: 24px;
        font-weight: 600;
        padding: 25px 0;
    }
    nav {
        float: right;
        padding: 20px 0;
        ul {
            list-style: none;
            display: inline-block;
            li {
                display: inline-block;
                padding: 0 20px;
            }
        }
        .links {
            display: inline-block;
            img {
                margin-left: 7px;
                width: 25px;
                border-radius: 25px;
            }
        }
        .call {
            display: inline-block;
            margin-left: 50px;
            img {
                width: 51px;
                border-radius: 25px;
            }
        }
    }
}

.text_block {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        background: image-url('back_left.png') repeat-y;
        opacity: 0.5;
        z-index: -1;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 400px;
        height: 400px;
        background: image-url('back_right.png') no-repeat;
        background-size: cover;
        opacity: 0.5;
        z-index: -1;
    }
    .button {
        border: 1px solid #23395f;
        margin: 40px 0 80px;
        background: #FFF;
        &:hover {
            background: #FFF;
        }
        a {
            color: #435065;
            font-size: 16px;
        }
    }
    .main_article {
        border-bottom: 1px solid #888;
        .title {
            color: #666;
            font-size: 26px;
        }
        .date {
            color: #888;
            font-size: 14px;
        }
        .photo {
            margin: 20px 0 40px;
            img {
                width: 100%;
            }
        }
        .text {
            color: #888;
            font-family: 'Montserrat';
        }
    }
    .other_articles {
        padding-top: 80px;
        .article {
            display: inline-block;
            width: 48%;
            margin-right: 4%;
            margin-bottom: 20px;
            &:nth-of-type(2n) {
                margin-right: 0;
            }
            .photo {
                img {
                    width: 100%;
                }
            }
            .title {
                color: #23395f;
                margin: 15px 0;
            }
            .text {
                color: #888;
                font-family: 'Montserrat';
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 300;
                height: 96px;
                overflow: hidden;
            }
            .date {
                color: #888;
                font-size: 14px;
            }
        }
    }
    .buttons {
        text-align: right;
        .button {
            margin-left: 25px;
        }
    }
    h2 {
        font-size: 26px;
        color: #666;
    }
    .right_block {
        padding: 0 30px;
        .block {
            margin-bottom: 80px;
        }
        .editors {
            .editor {
                margin-bottom: 10px;
                .image {
                    float: left;
                    img {
                        width: 64px;
                        border-radius: 50%;
                    }
                }
                .name {
                    padding-left: 74px;
                    line-height: 64px;
                    color: #AAA;
                }
            }
        }
        .media {
            img {
                margin-right: 10px;
                width: 25px;
                border-radius: 25px;
            }
        }
        .contacts {
            .half {
                float: left;
                width: 50%;
                p {
                    color: #AAA;
                    margin-bottom: 0;
                }
            }
        }
    }
}

footer {
    background: #9bacbe;
    padding: 20px 0;
    p {
        font-size: 16px;
        font-family: 'Montserrat';
        margin: 0;
        &.white {
            color: #FFF;
        }
        span {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}


@media (max-width: 639px) {
    .text_block {
        &:before, &:after {
            display: none;
        }
    }
}



